<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="memberMapper">
	<resultMap type="com.study.test.vo.MemberVO" id="member">
		<id column="MEM_ID" property="memId" />
		<result column="MEM_PW" property="memPw" />
		<result column="MEM_NAME" property="memName" />
		<result column="ROLE" property="role" />
	</resultMap>
	
	<select id="originLogin" resultMap="member">
		SELECT MEM_ID
			, MEM_NAME
			, ROLE
		FROM SECURITY_MEMBER
		WHERE MEM_ID = #{memId}
		AND MEM_PW = #{memPw}
	</select>
	
	<select id="login" resultMap="member">
		SELECT MEM_ID
			, MEM_NAME
			, ROLE
			, MEM_PW
		FROM SECURITY_MEMBER
		WHERE MEM_ID = #{memId}
	</select>
</mapper>


